/**************************************************/
/*				  BACKGROUND IMAGE			      */
/**************************************************/
#begin {
  background-image: url("../images/wallpaper.jpg");
  background-size: 99.95%;
}

@media (max-width: 480px) {
  #begin {
    background-size: 120%;
  }
}

/**************************************************/
/*					   MENU	  				      */
/**************************************************/
#menu ul {
  padding:0px;
  margin:0px;
  list-style:none;
  text-align: center;
  max-width: 100%;
}

#menu img {
  width: 50px;
  padding: 0.5em;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  border-bottom:1px solid #EDEDED;
}

#menu ul li a:hover,
#menu ul li a:focus,
#menu ul li a:active {
  border-bottom:1px solid #FF0000;
}

/**************************************************/
/*					   LOGO	  				      */
/**************************************************/
.logo img {
  padding: 2em;
  text-align: center;
  max-width: 400px;
}

@media (max-width: 480px) {
  .logo img {
    width: 200px;
  }
}

@media (min-width: 980px) {
  .logo img {
    width: 500px;
  }
}

/**************************************************/
/*				   SEARCH FIELD	  			      */
/**************************************************/
.search {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/**************************************************/
/*					   MENU LIST    		      */
/**************************************************/
.list ul {
  list-style-type: none;
  margin-top: 1em;
}

.list img {
  width: 60px;
  margin-bottom: 1em;
  margin-right: 1em;
  vertical-align:middle;
}

.list p {
  display: inline-block;
  text-align:left;
}

.list input {
  margin-left: 1.5em;
  display: inline-block;
  width: 25px;

}

@media (max-width: 480px) {
  .list {
    text-align: left;
  }

  .list p {
    display: block;
  }

  .list input {
    display: block;
    margin-bottom: 2em;
  }
}

/**************************************************/
/*					   CART BOX     		      */
/**************************************************/
.box-cart {
  background-color: #F8F8FF;
  width: 325px;
  border: 2px solid black;
  margin-top: 1em;
  margin-bottom: 3em;
}

.box-cart p {
  display: inline-block;
}

.box-cart input {
  display: inline-block;
  margin-left: 1em;
  width: 10px;
}

.box-cart button {
  margin-bottom: 1.25em;
}

@media (max-width: 480px) {
  .box-cart {
    width: 225px;
    margin-bottom: 50px;
  }

  .box-cart p {
    display: block;
  }
}

/**************************************************/
/*					    MODAL       		      */
/**************************************************/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}