<!DOCTYPE html>
<head ng-app="webFood">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>WebFood</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script data-semver="1.6.4" src="https://code.angularjs.org/1.6.4/angular.js" data-require="angular.js@1.6.x"></script>
  <script src="angular/angular.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="app.js"></script>

</head>
<body>
  <div ng-controller="jsonCtrl">

    <div id="begin">
      <!--[Logo]-->
      <div class="logo" align="center">
        <img src="images/logo.png">
      </div>
      <!--[End Logo]-->

      <!--[Search Field]-->
      <div class="search" align="center">
        <h4>Search for an item:</h4>
        <input type="text" ng-model="search">
      </div>
      <!--[End Search Field]-->

      <!--[Menu]-->
      <div>
        <nav id="menu" class="navbar navbar-default">
          <div class="container-fluid">
            <ul>
              <li><a href="javascript:void(0)" ng-click="getItensList('salad')"> <img src="images/salad.png"><p>Salad</p></a></li>
              <li><a href="javascript:void(0)" ng-click="getItensList('pizza')"><img src="images/pizza.png"><p>Pizza</p></a></li>
              <li><a href="javascript:void(0)" ng-click="getItensList('chinese')"><img src="images/chinese-food.png"><p>Chinese</p></a></li>
              <li><a href="javascript:void(0)" ng-click="getItensList('burgers')"><img src="images/burger.png"><p>Burgers</p></a></li>
              <li><a href="javascript:void(0)" ng-click="getItensList('beverage')"><img src="images/beverage.jpg"><p>Beverage</p></a></li>
              <li><a href="javascript:void(0)" ng-click="getItensList('all')"><img src="images/all.png"><p>All</p></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!--[End Menu]-->
    </div>

    <!--[Content]-->
    <div class="container">
      <div class="row">
        <!--[Food List]-->
        <div class="col-sm-7">

          <!--[List]-->
          <div class="list">
            <ul>
              <li ng-repeat="item in menuList | filter:search">
                <img ng-src="{{ getImage(item) }}">
                <p>
                  {{ item.title }}
                  <br>
                  <b>Price:</b> ${{ item.price}}
                </p>
                <input type="image" src="images/cart.png" alt="Submit" ng-click="addItem(item)">
              </li>
            </ul>
          </div>
          <!--[End List]-->
        </div>
        <!--[End Food List]-->

        <!--[Order Box]-->
        <div class="col-sm-5" align="center">
          <div class="box-cart">
            <h3>Your Cart:</h3>
            <!--[Item Box]-->
            <div class="box-items panel panel-default">
              <div class="panel-body" ng-repeat="item in myCart">
                <p>{{ myCartValues[$index] }}x {{ item }}</p>
                <input type="image" src="images/plus.png" alt="Submit" ng-click="plusItem(item)">
                <input type="image" src="images/minus.png" alt="Submit" ng-click="minusItem(item)">
              </div>
            </div>
            <!--[End Item Box]-->
            <h4>Total: ${{ getPrice() }}</h4>
            <button ng-click="toggleModal()">Proceed to Checkout</button>
            <modal show='modalShown' width='70%' height='60%'>
              <div ng-repeat="item in myCart">
                <p>{{ myCartValues[$index] }}x {{ item }}</p>
              </div>
              <h4>Total: ${{ getPrice() }}</h4>
              <button class="btn btn-success" ng-click="toggleModal()">BUY</button>
            </modal>
          </div>
        </div>
        <!--[End Order Box]-->
      </div>
    </div>
    <!--End Content-->
  </div>

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
